<div class="modal-header">
  <h5>{{title}}</h5>
</div>
<div class="modal-body">
 
    <fieldset class="form-block">
      <div class="form-group form-group-sm">
        <label class="control-label">Tên khách hàng</label>
        <input class="form-control form-control-sm" type="text" [(ngModel)]="customer.Name">
      </div>
      <div class="form-group form-group-sm">
        <label class="control-label">Team</label>
        <input class="form-control form-control-sm" type="text" [(ngModel)]="customer.Team">
      </div>
      <div class="form-group form-group-sm">
        <label class="control-label">Phiên bản</label>
        <input class="form-control form-control-sm" type="text" [(ngModel)]="customer.Version">
      </div>
      <div class="form-group form-group-sm">
        <label class="control-label">Phiên bản SQL</label>
        <input class="form-control form-control-sm" type="text" [(ngModel)]="customer.SqlVersion">
      </div>
      <div class="form-group form-group-sm">
        <label class="control-label">Ghi chú</label>
        <textarea class="form-control form-control-sm" type="text" [(ngModel)]="customer.Info"> </textarea>
      </div>
    </fieldset>

</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" type="button" (click)="submit()"> Send</button>
  <button class="btn btn-outline-primary btn-sm" (click)="dismiss()"> Close </button>
</div>