<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Pentamic</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

      <ul *ngIf="status" class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" href="#">Đăng xuất</a>
        </li>       
      </ul>

      <ul *ngIf="!status" class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" (click)="register()">Đăng ký</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/login">Đăng nhập</a>
        </li>
      </ul>
    </div>
  </nav>
</header>