<div class="row">
  <div class="col-md-4">

    <div class="form-group form-group-sm">
      <label class="control-label">Email</label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="email">
    </div>
    <div class="form-group form-group-sm">
      <label class="control-label">Password</label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="password">
    </div>

  </div>
</div>
<button (click)="login()">Login</button>