a {
    display: inline-block
}

a.custom {
    text-align: right;
    /* justify-content: right; */

}

tr.custom {
    width: 600px;
}
d-flex, ngb-accordion {
     font-size: 14px;
 }

tr td {
    font-size: 14px;
    word-wrap: break-word;
    white-space: normal;
}
*:not(h5){
    font-size: 14px;
}

.card-header {
  padding:0;
}


