<div class="modal-header">
  <h5>{{title}}</h5>
</div>
<div class="modal-body">

  <fieldset class="form-block">
    <div class="form-group form-group-sm">
      <label class="control-label">Mô tả</label>
      <textarea rows="6" class="form-control form-control-sm" type="text" [(ngModel)]="request.Description"></textarea>
    </div>

    <div class="form-group form-group-sm form-inline">
      <label class="control-label col-4">Hạn thiết kế</label>
      <dx-date-box class="col-8" [(ngModel)]="request.DesignDateExpired"></dx-date-box>
    </div>
    <div class="form-group form-group-sm">
      <label class="control-label col-4">Hạn lập trình</label>
      <dx-date-box class="col-8" [(ngModel)]="request.CodeDateExpired"></dx-date-box>
    </div>


    <div class="form-group form-group-sm">
      <label class="control-label">Mô tả lập trình</label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="request.DevDescription">
    </div>
    <div class="form-group form-group-sm">
      <label class="control-label">Người giao yêu cầu</label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="request.FromEmployeeCode">
    </div>
    <div class="form-group form-group-sm">
      <label class="control-label">Người nhận yêu cầu</label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="request.ToEmployeeCode">
    </div>
    <div class="form-group form-group-sm">
      <label class="control-label">Người thực hiện yêu cầu</label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="request.DoEmployeeCode">
    </div>
    <div class="form-group row align-items-center form-group-sm" *ngIf="!(editFile && isCompleted)">
      <label class="col-md-4 control-label">File mô tả</label>
      <div class="col-md-6">
        <input style="width: 250px" type="file" ng2FileSelect [uploader]="uploader" required placeholder="Chọn file">
      </div>
      <div class="col-md-1 pull-right">
        <button class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Upload" (click)="uploadFile()">Upload</button>
      </div>
    </div>

    <!-- <div class="form-group form-group-sm">
        <label class="control-label">Ghi chú</label>
        <textarea class="form-control form-control-sm" type="text" [(ngModel)]="customer.Info"> </textarea>
      </div> -->
  </fieldset>

</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" type="button" (click)="submit()"> Send</button>
  <button class="btn btn-outline-primary btn-sm" (click)="dismiss()"> Close </button>
</div>