<form (ngSubmit)="activeModal.close(value)">
  <div class="modal-header">
    <h4 class="modal-title">{{options.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-body">
      <div class="form-group row form-group-sm">
        <label class="col-md-4  control-label">{{options.name}}</label>
        <div class="col-md-8">
          <input class="form-control" [type]="options.type" name="value" [(ngModel)]="value" [required]="options.isRequired">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
    <button type="submit" class="btn btn-primary">Ok</button>
  </div>
</form>
