<div class="modal-header">
  <h5>Đăng ký</h5>
</div>
<div class="modal-body">
  <fieldset class="form-block">
    <div class="form-group form-group-sm">
      <label class="control-label">Email</label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="email">
    </div>
    <div class="form-group form-group-sm">
      <label class="control-label">Mật khẩu</label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="password">
    </div>
    <div class="form-group form-group-sm">
      <label class="control-label">Xác nhận mật khẩu</label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="confirmPassword">
    </div> 
    <div class="form-group form-group-sm">
      <label class="control-label">Tên</label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="firstName">
    </div>
    <div class="form-group form-group-sm">
      <label class="control-label">Họ</label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="lastName">
    </div> 
  </fieldset>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" type="button" (click)="submit()"> Send</button>
  <button class="btn btn-outline-primary btn-sm" (click)="dismiss()"> Close </button>
</div>
