<div fxLayout="row" style="height:100vh;overflow-y:hidden">
  <div fxFlex="25" class="py-2 px-4">
    <div class="row justify-content-between align-items-center">
      <a>
        <b>Danh sách khách hàng</b>
      </a>
      <a href="javascript:void()" (click)="addCustomer()">Add</a>
      <!-- <button class="btn btn-sm btn-primary pr-2" (click)="open(response,create)">+</button> -->
    </div>
    <div class="form-group form-group-sm pt-2">
      <input type="text" class="form-control form-control-sm" name="searchText" placeholder="Enter search text" [formControl]="itemControl">
    </div>


    <dx-scroll-view reachBottomText=''>
      <ng-template let-element ngFor [ngForOf]="customers" let-i="index">
        <div class="row align-items-center justify-content-between">
          <a href="javascript:void()" (click)=selectCustomer(element) class="nav-link" style="white-space: nowrap; word-break:break-all;">{{element.Name}}</a>
          <a href="javascript:void()" (click)=editCustomer(element) class="nav-link" style="white-space: nowrap; word-break:break-all;">Edit</a>
          <!-- <a href="javascript:void()" (click)=deleteCustomer(element) class="nav-link" style="white-space: nowrap; word-break:break-all;">Delete</a> -->
        </div>
      </ng-template>
    </dx-scroll-view>
  </div>


  <div fxFlex="20" class="py-2 px-4">
    <div class="row justify-content-between align-items-center">
      <a>
        <b>Danh sách chức năng</b>
      </a>
      <a href="javascript:void()" (click)="addTopic()">Add</a>
    </div>

    <dx-scroll-view reachBottomText="">
      <ng-template let-element ngFor [ngForOf]="topics" let-i="index">
        <a href="javascript:void()" (click)=selectTopic(element) class="nav-link" style="white-space: nowrap; word-break:break-all;"
          data-toggle="tooltip" title="{{element.Name}}">{{element.Name}}</a>
      </ng-template>
    </dx-scroll-view>
  </div>

  <div fxFlex="55" class="my-2 px-4">
    <div class="row justify-content-between align-items-center">
      <a>
        <b>Danh sách yêu cầu</b>
      </a>
      <a *ngIf="topic" href="javascript:void()" (click)="addRequest()">Yêu cầu mới</a>
    </div>
    <div *ngIf="topic">
      <a href="javascript:void()" (click)="searchRequest()">Tìm kiếm</a>
      <dx-data-grid id="gridContainer" [dataSource]="requests" [columnAutoWidth]="true" noDataText="" reachBottomText="" [selection]="{mode: 'single'}">
        <dxo-paging [enabled]="true"></dxo-paging>
        <dxi-column dataField="Id" cellTemplate="cellTemplate" width="70px"></dxi-column>
        <dxi-column dataField="State" caption="status">
          <!-- <dxo-lookup [dataSource]="states" displayExpr="value" valueExpr="id">
          </dxo-lookup> -->
        </dxi-column>
        <dxi-column dataField="DateCreated" caption="ngay_yc"></dxi-column>
        <dxi-column dataField="FromEmployeeCode" caption="Nv_yc">
          <!-- <dxo-lookup [dataSource]="employees" displayExpr="ShortName" valueExpr="Id">
          </dxo-lookup> -->
        </dxi-column>
        <dxi-column dataField="ToEmployeeCode" caption="Nv_tn">
          <!-- <dxo-lookup [dataSource]="employees" displayExpr="ShortName" valueExpr="Id">
          </dxo-lookup> -->
        </dxi-column>
        <dxi-column dataField="DoEmployeeCode" caption="Nv_th">
          <!-- <dxo-lookup [dataSource]="employees" displayExpr="ShortName" valueExpr="Id">
          </dxo-lookup> -->
        </dxi-column>
        <dxi-column dataField="DesignDateExpired" caption="han_tk"></dxi-column>
        <dxi-column dataField="CodeDateExpired" caption="han_lt"></dxi-column>
        <!-- <dxi-column dataField="Description" caption="noi_dung"></dxi-column> -->
        <!-- <dxi-column dataField="DevDescription" caption="phan_tich"></dxi-column> -->
        <dxi-column dataField="DescriptionFileId" caption="File">
          <!-- <dxo-lookup [dataSource]="files" displayExpr="FilePath" valueExpr="Id">
          </dxo-lookup> -->
        </dxi-column>
        <div *dxTemplate=" let data of 'cellTemplate'">
          <a (click)="selectRequest(data.value)">{{data.value}}</a>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>