<div class="modal-body">
  <div class="form-group row form-group-sm align-items-center">
    <label class="col-md-4  control-label">Name</label>
    <div class="col-md-8">
      <input class="form-control form-control-sm" type="text" [(ngModel)]="topic.Name" name="name">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" type="button" (click)="submit()"> Send</button>
  <button class="btn btn-outline-primary btn-sm" (click)="dismiss()"> Close </button>
</div>