<div class="modal-header">
  <h5>Tìm kiếm</h5>
</div>
<div class="modal-body">

  <fieldset class="form-block">
    <div class="form-group form-group-sm">
      <label class="control-label">Người viết yêu cầu: </label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="fromEmployee">
    </div>
    <div class="form-group form-group-sm">
      <label class="control-label">Người nhận yêu cầu:</label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="toEmployee">
    </div>
    <div class="form-group form-group-sm">
      <label class="control-label">Người thực hiện yêu cầu</label>
      <input class="form-control form-control-sm" type="text" [(ngModel)]="doEmployee">
    </div>
  </fieldset>

</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-sm" type="button" (click)="submit()"> Send</button>
  <button class="btn btn-outline-primary btn-sm" (click)="dismiss()"> Close </button>
</div>